.DebugPanel {
  border: 1px solid;
}

.DebugPanel table {
  display: inline-block;
  border: 2px solid;
  border-collapse: collapse;
}

.DebugPanel tr,
.DebugPanel th,
.DebugPanel td {
  border: 1px solid;
}
