:root {
  font-family: system-ui, sans-serif;
  color: #111827;
  background: #f9fafb;
}

html,
body,
#root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}
